<h2>Add new Cat to the list</h2>

<form action="/cats" method="POST" enctype="multipart/form-data">
    <div>
        <!-- <input type="string" name="image" placeholder="Image"> -->
        <input type="file" name="image">
    </div>
    <div>
        <input type="string" name="name" placeholder="Name">
    </div>
    <div>
        <input type="string" name="age" placeholder="Age">
    </div>
    <div>
        <label for="admissionDate">Admission date</label>
        <input type="date" name="admissionDate" id="admissionDate" value="">
    </div>
    <div>
        <label for="vaccinated">Vaccinated: </label> 
        <input type="checkbox" name="vaccinated" id="vaccinated">
    </div>
    <div>
        <label for="neutered">Neutered: </label>
        <input type="checkbox" name="neutered" id="neutered">
    </div>
    <div>
        <label for="adopted">Adopted: </label>
        <input type="checkbox" name="adopted" id="adopted">
    </div>
    <div>
        <a href="/cats">Cancel</a>
        <button type="submit">Add</button>
    </div>
</form>